#background {
    background-image: url("../images/space.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-image-repeat: no-repeat;
}